*{
    box-sizing: border-box;  
  }
  html{
    scroll-behavior: smooth;
  }
  
  body{
      margin: 0;
      font-family: 'roboto', sans-serif;
  }
  
  h1{font-size: 3.5em;}
  h2{font-size: 2.7em;}
  h3{font-size: 1.25em;}
  ul{list-style: none;}
  li{font-size: 1.25em;}
  
  
  
  .container{
    max-width: 1400px;
    margin: auto;
  }
  
  .palabra-remarcada{
  color: blueviolet;
  }
  
  header{
    /*position: fixed;*/
    width: 100%;
    
    background-color: rgb(200,200,200);
  }
  
  header .logo{
    margin: 0;
    padding: 25,30;
    font-weight: bold;
    color:blueviolet;
    font-size: 1.6em;
  }
  
  header .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
  }
  
  header a{
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  }
  
  header a:hover{
    color: rgb(21, 112, 112);
  }
  
  /*////////////////////////////////////////////*/
  #principal{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
  
  background-image: linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)) 
  ,url("imagenes/principal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  }
  
  #principal h1{
    color: white;
  }
  
  /*///////////////////////////////////////////////*/
  
  #somos-empresa{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 140vh;
  
  }
  
  #somos-empresa .container{
    font-size: 10px; 
    text-align: center;
    padding: 200px 12px;
    
  }
  
  #somos-empresa p{
   /* margin: 16px 0px;
    /*font-weight: bold;*/
    font-size: 20px;
  }
  
  #somos-empresa li{
    margin: 16px 0px;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
  }
  
  
  
  /*///////////////////////////////////////////////*/
  
  #contactar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
  
    /*background-color: rgba(30,30,30);*/
    background-image: linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)) 
    ,url("imagenes/mar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    color: rgb(247, 241, 241);
   
  }
  
  #contactar .container {
    padding: 150px 12px;
  }
  
  #contactar h3{
    margin-top: 0;
  }
  
  #contactar p{
    display: none;
  }
  
  
  .contacto{
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 45px 45px 20px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
    
    font-family: sans-serif;
    font-size: 12px;
    color: #798e94;
    
  }
  .contacto label{
    display: block;
    font-weight: bold;
  }
  .contacto div{
    margin-bottom: 15px;
  }
  .contacto input[type='text'], .contacto textarea{
    padding: 7px 6px;
    width: 294px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
  }
  
  
  /*///////////////////////////////////////////////*/
  
  #formu-viaje{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
  
    /*background-color: rgba(100,100,100);*/
  
    background-image: linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)) 
    ,url("imagenes/mundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  
    
    color: white;
    
  }
  
  #formu-viaje .container {
    padding: 150px 12px;   
  }
  
  #formu-viaje h3{
    margin-top: 0;
  }
  
  
  .destino label{
    display: block;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 18px;
    color: #c51f64;   
  }
  
  .destino div{
    margin-bottom: 15px;
  }
  
  .destino input[type='text'], .destino textarea{
    padding: 7px 6px;
    width: 294px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
  }
  
  
  
  
  /*/////////////////////////////////////////////*/
  
  footer{
    background-color: rgb(139, 194, 175);
  }
  
  footer p{
    /*margin: 0;*/
    padding: 20;
    color: rgb(78, 107, 97);
  }
  
  footer .container{
    height: 50px;
    display: flex;
    justify-content: center;
  }
  
  
  
  /*////////////FIN VERSION MOBILE////////////////*/
  
  /*////////////VERSION MAS GRANDE////////////////*/
  @media (min-width: 720px){
  
    header .container{
      flex-direction: row;
      justify-content: space-between;
    }
    header nav{
      flex-direction: row;
      padding-bottom: 0;
      padding-right: 20px;
    }
    
    }